/* General */
body {
  font-family: 'Roboto', sans-serif;
  color: #0069d1;
  box-sizing: border-box;
  margin: 0;
}

.main {
  font-family: 'Roboto', sans-serif;
  padding-left: 100px;
  border-radius: 50px;
  border-color: #007af3;
  max-width: 1500px; /* Add a max width for large screens */
  margin: auto; /* Center the content */
  padding-right: 100px;
}

/* Mobile-specific styles */
@media screen and (max-width: 768px) {
  .main {
    padding-left: 5px; /* Adjust left padding for smaller screens */
    padding-right: 5px; /* Set right padding to 100px as per request */
    max-width: 100%; /* Ensure it doesn't exceed screen width */
  }}

.bg {
  border: 1px solid #636363;
  background: linear-gradient(115deg, #d6d6d641, #1b355cbb) !important;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(99, 99, 99, 0.5); /* Minor glow effect */
}

/* Fade-up animation */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Start from below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at normal position */
  }
}

/* Class to apply fade-up animation */
.fade-up {
  opacity: 0;
  animation: fadeUp 2s ease-out forwards; /* Animation duration and easing */
}

/* Hero Section Styling */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem; /* Equal spacing between sections */
  flex-direction: column; /* For smaller screens */
  margin-top: 6rem;
  background: linear-gradient(115deg, #4e4e4e7c, #031631a1) !important;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  border-radius: 15px; /* Rounded corners for the whole section */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Modern shadow effect */
}

@media screen and (max-width: 768px) {
  .hero-section {
    box-shadow: none; /* Remove box shadow on smaller screens */
  }
}

.hero-section.row {
  flex-direction: row; /* Horizontal layout for larger screens */
}

/* Divider */
.hero-section .divider {
  width: 2px;
  height: 100%;
  background-color: #e0e0e0; /* Light gray divider */
  opacity: 0.8;
  margin: 0 2rem; /* Centered divider */
}

/* Image Styling */
.hero-section img {
  width: 150px; /* Adjust image size */
  height: 150px;
  border-radius: 50%; /* Circular image */
  border: 3px solid #fff; /* White border */
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3); /* Soft white glow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effects */
}

.hero-section img:hover {
  transform: scale(1.1); /* Slight zoom on hover */
  box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.5); /* Enhanced glow on hover */
}

/* Paragraph Styling */
.hero-section .paragraph {
  font-size: 18px;
  font-family: 'Poppins', sans-serif; /* Modern sans-serif font */
  line-height: 1.8;
  color: #e0e0e0;
  text-align: justify;
}

/* Adjustments for phone view */
@media (max-width: 768px) {
  .hero-section .paragraph {
    font-size: 16px; /* Slightly smaller font for smaller screens */
    line-height: 1.6; /* Reduce line height to match smaller font size */
    text-align: left; /* Align left for a cleaner look on mobile */
    margin: 0 10px; /* Add some horizontal margin for breathing room */
  }
}



.hero-section .paragraph p {
  margin-bottom: 1rem; /* Consistent spacing */
}

.hero-section .paragraph a {
  color: #007af3; /* Highlight links */
  text-decoration: none;
  transition: color 0.3s;
}

.hero-section .paragraph a:hover {
  color: #00d4ff; /* Brighter hover effect */
}

/* Additional Decorative Elements */
.image-caption {
  text-align: center;
  font-style: italic;
  margin-top: 1rem;
  color: #aaa; /* Subtle text color */
}

.gradient-bar {
  height: 5px;
  width: 100%;
  background: linear-gradient(90deg, #007af3, #1b355c);
  border-radius: 5px;
  margin-top: 1rem;
}

/* Section Headers */
.section-header {
  text-align: center;
  margin: 4rem 0 2rem;
  color: #aaa;
  font-weight: normal;
  font-size: 1.2rem;
}

.section-header.wide {
  font-size: 1.5rem;
}

/* Logo Container */
.logo-container {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}

/* Mobile-specific styles */
@media screen and (max-width: 768px) {
  .logo-container {
    justify-content: space-evenly; /* Default alignment for smaller screens */
    flex-wrap: wrap; /* Allow wrapping if needed for smaller screens */
  }
  
  .logo-container img {
    width: 40px; /* Set the logo size to 40px on mobile */
    height: auto; /* Maintain aspect ratio */
  }
}

.logo-container img {
  width: 40px;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.logo-container img.wide {
  width: 50px;
}

.logo-container img:hover {
  filter: grayscale(0%);
}

/* Tooltip */
.tooltip {
  position: absolute;
  background-color: #555;
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.tooltip.visible {
  visibility: visible;
  opacity: 1;
}

/* Timeline */
.timeline img {
  width: 30px;
  border-radius: 50%;
}

.timeline-icon {
  width: 40px; /* Reduce the size of the icons */
  height: 40px; /* Maintain aspect ratio */
  border-radius: 50%; /* Keeps the circular shape */
}

/* Work History Section */
.work-history-section {
  margin-top: 4rem;
  text-align: center; /* Center the content */
}

.work-history-section .section-header {
  font-size: 2rem;
  color: #d1d1d1;
  margin-bottom: 1.5rem;
}

.work-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; /* Space between cards */
  justify-content: center; /* Center-align cards */
}

.work-card {
  background: linear-gradient(115deg, #5252525b, #25252538) !important;
  border-radius: 15px;
  padding: 30px;
  max-width: 350px;
  color: #e4e4e4;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none; /* Remove underline on links */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-card:hover {
  transform: translateY(-10px); /* Subtle lift effect */
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.card-header {
  display: flex;
  flex-direction: column; /* Stack the logo and name vertically */
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.work-icon {
  width: 80px; /* Adjust the logo size */
  height: 80px;
  border-radius: 50%; /* Rounded corners for the logo */
  object-fit: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.company-name {
  text-align: center;
  font-style: italic;
  margin-top: 1rem;
  color: #aaa; /* Subtle text color */
}

.card-content {
  display: block; /* Hide card content as we don't want it visible */
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  background: linear-gradient(115deg, #1538ff, #1897ff) !important;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.company-name {
  text-align: center;      /* Center the text */
  font-style: italic;      /* Make the text italic */
  margin-top: 1rem;        /* Add some space above the text */
  color: #aaa;             /* Set the subtle gray color */
  font-size: 24px;         /* Adjust the font size */
  text-decoration: underline;
  font-weight: normal;     /* Make the font weight normal, like the example */
}
